@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 91%;
    --foreground: 231 30% 25%;
    --card: 0 0% 100%;
    --card-foreground: 231 30% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 30% 25%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 60% 85%;
    --secondary-foreground: 231 30% 25%;
    --muted: 231 60% 85%;
    --muted-foreground: 231 30% 55%;
    --accent: 340 82% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 82%;
    --input: 231 48% 82%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 340 82% 52%;
    --chart-3: 210 40% 56%;
    --chart-4: 14 74% 66%;
    --chart-5: 280 65% 60%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 231 22% 20%;
    --foreground: 231 60% 91%;
    --card: 231 22% 24%;
    --card-foreground: 231 60% 91%;
    --popover: 231 22% 24%;
    --popover-foreground: 231 60% 91%;
    --primary: 231 48% 58%;
    --primary-foreground: 231 22% 15%;
    --secondary: 231 22% 30%;
    --secondary-foreground: 231 60% 91%;
    --muted: 231 22% 30%;
    --muted-foreground: 231 60% 70%;
    --accent: 340 82% 62%;
    --accent-foreground: 231 22% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 22% 35%;
    --input: 231 22% 35%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 340 82% 62%;
    --chart-3: 210 40% 66%;
    --chart-4: 14 74% 76%;
    --chart-5: 280 65% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
